.container-box {
  width: 80%;
  margin: 0 auto;
}

@mixin textGradient($direction,$color1, $color2) {
  background-image: linear-gradient($direction, $color1, $color2);
  color: transparent;
  -webkit-background-clip: text;
}
@mixin flex{
  display: flex;
}

